# Hasil kompilasi dan build CMake
/build/

# Konfigurasi IDE dan basis data compiler
/.vscode/
/.clangd
/compile_commands.json

# Berkas sistem operasi
.DS_Store
Thumbs.db
*.swp

# Library eksternal (sumber diunduh secara lokal)
/external/sdl3/

# Database SQLite hasil runtime (jika ada)
/db/*.db
!/db/.gitkeep
